/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>

/ {
    behaviors {
        HMR: HMR {
            compatible = "zmk,behavior-hold-tap";
            label = "HMR";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <225>;
            quick-tap-ms = <175>;
            flavor = "tap-preferred";
            hold-trigger-on-release;
            hold-trigger-key-positions = <41 40 39 38 37 36 12 13 14 15 16 17 24 25 26 27 28 29 0 1 2 3 4 5>;
        };

        HML: HML {
            compatible = "zmk,behavior-hold-tap";
            label = "HML";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <225>;
            quick-tap-ms = <175>;
            flavor = "tap-preferred";
            hold-trigger-on-release;
            hold-trigger-key-positions = <36 37 38 39 40 41 6 7 8 9 10 11 18 19 20 21 22 23 30 31 32 33 34 35 41>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  Q  |  W  |  E  |  R  |  T  |   |  Y  |  U   |  I  |  O  |  P  | BSPC |
            // | CTRL |  A  |  S  |  D  |  F  |  G  |   |  H  |  J   |  K  |  L  |  ;  |  '   |
            // | SHFT |  Z  |  X  |  C  |  V  |  B  |   |  N  |  M   |  ,  |  .  |  /  | ESC  |
            //                    | GUI | LWR | SPC |   | ENT | RSE  | ALT |

            bindings = <
&kp TAB           &kp Q  &kp W            &kp E              &kp R                &kp T      &kp Y      &kp U                 &kp I               &kp O             &kp P     &kp BSPC
&kp ESCAPE        &kp A  &HML LEFT_ALT S  &HML LEFT_SHIFT D  &HML LEFT_CONTROL F  &kp G      &kp H      &HMR RIGHT_CONTROL J  &HMR RIGHT_SHIFT K  &HMR RIGHT_ALT L  &kp SEMI  &kp SINGLE_QUOTE
&kp LEFT_CONTROL  &kp Z  &kp X            &kp C              &kp V                &kp B      &kp N      &kp M                 &kp COMMA           &kp DOT           &kp FSLH  &kp GRAVE
                                          &kp LGUI           &mo 2                &kp RET    &kp SPACE  &mo 1                 &kp RIGHT_SHIFT
            >;
        };

        raise_layer {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  !  |  @  |  #  |  $  |  %  |   |  ^  |  &  |  *  |  (  |  )  | BSPC |
            // | CTRL |     |     |     |     |     |   |  -  |  =  |  [  |  ]  |  \  |  `   |
            // | SHFT |     |     |     |     |     |   |  _  |  +  |  {  |  }  | "|" |  ~   |
            //                    | GUI |     | SPC |   | ENT |     | ALT |

            bindings = <
&kp BACKSPACE  &kp SLASH  &mt AMPS N7          &mt ASTRK N8          &mt LEFT_PARENTHESIS N9  &kp MINUS         &kp LEFT_PARENTHESIS  &kp RIGHT_PARENTHESIS  &kp LEFT_BRACE  &kp RIGHT_BRACE  &kp LEFT_BRACKET  &kp RIGHT_BRACKET
&kp DEL        &kp ASTRK  &mt DOLLAR NUMBER_4  &mt PERCENT NUMBER_5  &mt CARET NUMBER_6       &kp PLUS          &kp LEFT_ARROW        &kp DOWN               &kp UP_ARROW    &kp RIGHT        &kp APOS          &kp UNDER
&kp BACKSLASH  &kp N0     &mt EXCL NUMBER_1    &mt AT NUMBER_2       &mt HASH NUMBER_3        &kp EQUAL         &kp UNDER             &kp PAGE_DOWN          &kp PG_UP       &kp GRAVE        &kp PIPE          &trans
                                               &kp LGUI              &trans                   &kp LEFT_SHIFT    &kp SPACE             &trans                 &kp RALT
            >;
        };

        lower_layer {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  1  |  2  |  3  |  4  |  5  |   |  6  |  7  |  8  |  9  |  0  | BSPC |
            // | BTCLR| BT1 | BT2 | BT3 | BT4 | BT5 |   | LFT | DWN |  UP | RGT |     |      |
            // | SHFT |     |     |     |     |     |   |     |     |     |     |     |      |
            //                    | GUI |     | SPC |   | ENT |     | ALT |

            bindings = <
&kp TAB    &kp F1      &kp F2      &kp F3  &kp F4  &kp F5            &kp F6        &kp F7          &kp F8             &kp F9           &kp F10       &kp F11
&kp ESC    &trans      &trans      &trans  &trans  &trans            &trans        &kp C_PREVIOUS  &kp K_VOLUME_DOWN  &kp K_VOLUME_UP  &kp C_NEXT    &trans
&kp LSHFT  &bt BT_PRV  &bt BT_NXT  &trans  &trans  &bt BT_CLR_ALL    &bt BT_SEL 0  &bt BT_SEL 1    &bt BT_SEL 2       &bt BT_SEL 3     &bt BT_SEL 4  &bt BT_CLR
                                   &trans  &trans  &trans            &kp C_PP      &trans          &kp C_MUTE
            >;
        };

        layer_3 {
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &bt BT_CLR
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans
                        &trans  &trans  &trans    &trans  &trans  &trans
            >;
        };
    };
};
